@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	background-color: #E9F4F6;
	font-family: "Open Sans";
	
}
.navbar-custom {
    background-color: rgba(202, 202, 202, 0.58);

}

#search-bar{
	float: right;
}


.nav-link{
	font-size: 125%;
}

#btns{
	 margin-left: 5%;
  	width: 70%;
}
#home-btn{
	padding-right: 15px;
}
#compare-btn{
	color: #000000;
	padding-right: 15px;
}
#navbarDropdown{
	color: black;
}
.navbar-custom .nav-item.active .nav-link{
	color: #000000;
}
.navbar-custom .nav-item:hover .nav-link {
    
	text-decoration: underline;
}

#compare-btn:hover {
	text-decoration: underline;
}

.navbar-custom .dropdown-item {
    color: #000000;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    
	text-decoration: underline;
}
#aqi-nav-title{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 218.75%;
	line-height: 48px;

}
